.booking{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border-radius: vw(8);
    overflow: hidden;
    background: $color-primary;

    margin: $spacing-xxl auto;

    &__grid{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: flex-start;

        padding: vw(100) 0 0 vw(100);
    }

    &__button{
        margin-top: $spacing-xl;
        background: $color-secondary;
        color: $color-primary;

        &:hover{
            background: $color-primary;
            color: $color-secondary;
                
        }
    }

    &__title{
        max-width: vw(500);
        color: $color-white;
        font-family: $font-title;
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
    }

    &__image{
        display: block;
        width: 48%;
    }
}