.booking{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: $spacing-xxl;
    padding-bottom: $spacing-xxl;

    &__grid{
        display: flex;
        flex-direction: column;
        align-items:center;
        padding-top: $spacing-xxl;
        background: $color-primary;
        width: vw(500);
        height: vw(310);

    }

    &__button{
        margin-top: $spacing-xl;
        background: $color-secondary;
        color: $color-primary;

        &:hover{
            background: $color-primary;
            color: $color-secondary;
                
        }
    }

    &__title{
        text-align: center;
        color: $color-white;
        font-family: $font-title;
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
    }

    &__image{
        width: vw(500);
        height: vw(320);

    }
}