.button{
    background: $color-primary;
    border-radius: 8px;
    color: $color-secondary;
    padding: vw(10) vw(30);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.225em;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover{
        color: $color-primary;
        background: transparent;
        border: solid 2px $color-primary;
        
    }
}